<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--=============== FAVICON ===============-->
  <!--<link rel="shortcut icon" href="assets/images/BUIE_logo.jpg" type="image/x-icon">-->

  <!-- ===============UNICONS================ -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  
  <!--=============== REMIX ICONS ===============-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="assets/css/styles.css"> 
  <title>Towards the Civil Services</title>
 </head>
 
 <body>
  <header class="header" id="header">
		<nav class="nav container">
			<a href="#" class="nav__logo">
				<i class="uil uil-graduation-cap nav__logo-icon"></i> BUIE Guide
			</a>

			<div class="nav__menu" id="nav-menu">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="index.html" class="nav__link active-link">Home</a>
					</li>
					<li class="nav__item">
						<a href="about.html" class="nav__link">About Us</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Careers</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Contact Us</a>
					</li>
				</ul>

				<div class="nav__close" id="nav-close">
					<i class="ri-close-line"></i>
				</div>
			</div>

			<div class="nav__btns">
				<!-- Theme change button -->
				<i class="ri-moon-line change-theme" id="theme-button"></i>

				<div class="nav__toggle" id="nav-toggle">
					<i class="ri-menu-line"></i>
				</div>
			</div>
		</nav>
	</header>
   <center><h1>The path for the most respected job in the Indian Government!</h1><br>

	           <!-- ========================= Video Bar ======================== -->
<div class="videos lmcontainer">
	<div class="video-section__title">Videos</div>
	<div class="video__content">
		<div class="video__each">
			<iframe width="224" height="126" src="https://www.youtube.com/embed/fN3GpuEkD7Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div><br>
		<div class="video__each">
			<iframe width="224" height="126" src="https://www.youtube.com/embed/AKVBP-6ZZ9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div><br>
		<!--<div class="video__each">
			<iframe width="224" height="126" src="https://www.youtube.com/embed/MG5ZhaFWat0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>-->
		<div class="video__each">
			<iframe width="224" height="126" src="https://www.youtube.com/embed/kxLTO-vFhzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div><br>
		<div class="video__each">
			<iframe width="224" height="126" src="https://www.youtube.com/embed/XBRi6pvjJyo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div><br>
		
		
	</div>
 </div>

   <h2>The Official website of UPSC
   <a href="https://www.upsc.gov.in/" target="_blank">here</a> <br>
   The website is the most genuine source for the examination details like syllabus, 
   examination schedule, division of the services, frequently asked questions, interviews etc. <br><br>

   Mock interviews to help you understand the pattern
   <a href="https://www.youtube.com/c/DrishtiIASvideos" target="_blank"> 
    here </a> <br><br>
    
   State Public Service Commission is responsible for conducting examinations to recruit
   officers to state services. Detailed information about these exams, the syllabus, eligibility,
   exam dates can be found <a href="https://byjus.com/free-ias-prep/public-service-commission/">here</a>
   <br><br><br><br>   
    
     <a href="index.html">Go back</a>
    </h2>
   </center>
   <!--=============== SCROLL REVEAL ===============-->
<script src="assets/js/scrollreveal.min.js"></script>
        
<!--=============== MAIN JS ===============-->
<script src="assets/js/main.js"></script>
 </body>
</html>