<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--=============== FAVICON ===============-->
  <!--<link rel="shortcut icon" href="assets/images/BUIE_logo.jpg" type="image/x-icon">-->

  <!-- ===============UNICONS================ -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  
  <!--=============== REMIX ICONS ===============-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="assets/css/styles.css"> 
  <title>Become an Entrepreneur</title>
 </head>
 
 <body>
  <header class="header" id="header">
		<nav class="nav container">
			<a href="#" class="nav__logo">
				<i class="uil uil-graduation-cap nav__logo-icon"></i> BUIE Guide
			</a>

			<div class="nav__menu" id="nav-menu">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="index.html" class="nav__link active-link">Home</a>
					</li>
					<li class="nav__item">
						<a href="about.html" class="nav__link">About Us</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Careers</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Contact Us</a>
					</li>
				</ul>

				<div class="nav__close" id="nav-close">
					<i class="ri-close-line"></i>
				</div>
			</div>

			<div class="nav__btns">
				<!-- Theme change button -->
				<i class="ri-moon-line change-theme" id="theme-button"></i>

				<div class="nav__toggle" id="nav-toggle">
					<i class="ri-menu-line"></i>
				</div>
			</div>
		</nav>
	</header>
   <center><h1>Dreaming of becoming the next Steve Jobs? Well, we can actually help!</h1><br>

                 <!-- ========================= Video Bar ======================== -->
<div class="videos lmcontainer">
  <div class="video-section__title">Videos</div>
  <div class="video__content">
      <div class="video__each">
          <iframe width="224" height="126" src="https://www.youtube.com/embed/CIYdf3CH6Ks" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div><br>
      <div class="video__each">
          <iframe width="224" height="126" src="https://www.youtube.com/embed/uOA5h_KdjO4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div><br>
      <div class="video__each">
          <iframe width="224" height="126" src="https://www.youtube.com/embed/AUdi3xR-OnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="video__each">
          <iframe width="224" height="126" src="https://www.youtube.com/embed/H9ygAJ3dcqE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div><br>
      <div class="video__each">
          <iframe width="224" height="126" src="https://www.youtube.com/embed/I7P5i64vz-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div><br>
      
  </div>
</div>
   
   <h2>Read books on entrepreneurship
   <a href="https://www.amazon.in/Entrepreneur-Books/s?k=Entrepreneur+Books" target="_blank">
     here.</a> You can also Google search books, articles, videos on the topic. <br><br>

   Listen to lectures on entrepreneurship by IIT professors
   <a href="https://youtube.com/playlist?list=PLLy_2iUCG87CUSdZ0z0ihunS1QSrNqXFN" target="_blank"> 
    here </a> <br><br>
    
    Know more about entrepreneurship, how it works, how to become one, types of entrepreneurship,
    characteristics of entrepreneurs etc on <a href="https://www.investopedia.com/terms/e/entrepreneur.asp" target="_blank">
      Investopedia</a>  <br><br>

      The Government of India has build a platform for providing funding support and incentives to 
      startups. Visit the <a href="https://www.startupindia.gov.in/" target="_blank">website</a> to know more.<br><br>

      India added 86 unicorn startups in 2021. Know what is a <a href="https://www.investopedia.com/terms/u/unicorn.asp" target="_blank">
        unicorn startup</a> and go through the list on Indian unicorn startups 
        <a href="https://www.ventureintelligence.com/Indian-Unicorn-Tracker.php" target="_blank">here.</a><br><br>

        Startup success stories are real rags-to-riches stories. Read about some of these
        success stories <a href="https://timesnext.com/indian-startup-success-stories-new-entrepreneur/" target="_blank">
          here</a> and get inspired for your own venture!<br><br>
    College Professors who can help you launch your first startup <br>
     Prof. Goutam Sinha  --- 
     <a href="https://www.buie.ac.in/departments/humanities/people/faculty/item/1529408159/" target="_blank">
       Contact Sir</a><br>
      Prof. Tapas Sangiri  ---
      <a href="https://www.buie.ac.in/departments/computer-science-engineering/people/faculty/item/1527047592/" target="_blank">
        Contact Sir</a><br><br><br><br>

    <a href="index.html">Go back</a>
    </h2>
   </center>
   <!--=============== SCROLL REVEAL ===============-->
<script src="assets/js/scrollreveal.min.js"></script>
        
<!--=============== MAIN JS ===============-->
<script src="assets/js/main.js"></script>
 </body>
</html>