<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--=============== FAVICON ===============-->
  <!--<link rel="shortcut icon" href="assets/images/BUIE_logo.jpg" type="image/x-icon">-->

  <!-- ===============UNICONS================ -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  
  <!--=============== REMIX ICONS ===============-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="assets/css/styles.css"> 
  <title>GATE Exam</title>
 </head>
 
 <body>
  <header class="header" id="header">
		<nav class="nav container">
			<a href="#" class="nav__logo">
				<i class="uil uil-graduation-cap nav__logo-icon"></i> BUIE Guide
			</a>

			<div class="nav__menu" id="nav-menu">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="index.html" class="nav__link active-link">Home</a>
					</li>
					<li class="nav__item">
						<a href="about.html" class="nav__link">About Us</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Careers</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Contact Us</a>
					</li>
				</ul>

				<div class="nav__close" id="nav-close">
					<i class="ri-close-line"></i>
				</div>
			</div>

			<div class="nav__btns">
				<!-- Theme change button -->
				<i class="ri-moon-line change-theme" id="theme-button"></i>

				<div class="nav__toggle" id="nav-toggle">
					<i class="ri-menu-line"></i>
				</div>
			</div>
		</nav>
	</header>
   <center><h1>Know more about the GATE exam! </h1><br>

      		           <!-- ========================= Video Bar ======================== -->
<div class="videos lmcontainer">
	<div class="video-section__title">Videos</div>
	<div class="video__content">
		<div class="video__each">
			<iframe width="224" height="126" src="https://www.youtube.com/embed/rwZjRqjJfzk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div><br>
		<div class="video__each">
			<iframe width="224" height="126" src="https://www.youtube.com/embed/NaHLgelPOIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div><br>
		<!--<div class="video__each">
			<iframe width="224" height="126" src="https://www.youtube.com/embed/MG5ZhaFWat0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>-->
		<div class="video__each">
			<iframe width="224" height="126" src="https://www.youtube.com/embed/ok3sqYpB3-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div><br>
		<div class="video__each">
			<iframe width="224" height="126" src="https://www.youtube.com/embed/ePLnZsoe3qs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div><br>
		
		
	</div>
 </div>

   <h2>Go through an introductory video 
   <a href="https://www.youtube.com/watch?v=rwZjRqjJfzk" target="_blank">here</a> <br><br>
   Stay updated with the GATE official website of 
   <a href="http://gate.iitd.ac.in/" target="_blank"> 
    IIT Delhi </a> <br><br>
    Access online courses for subject depth by IIT Professors
   <a href="https://swayam.gov.in/nc_details/NPTEL" target="_blank"> 
    here </a> <br><br>
    Watch free videos of exam topics in
    <a href="https://www.youtube.com/c/iit/videos" target="_blank"> 
     YouTube </a> <br><br> 
     These exams are gateway to premier Indian Institutes like the IITs, NITs and the IISc and jobs in 
     Public Sector Undertaking (PSU) companies like NPCIL, COAL INDIA, DRDO, IOCL, GAIL INDIA, NALCO,
     NMDC, IOCL, POSOCO etc. <br><br><br><br> 

     College Professors who can help you with the preparation for this exam <br>
     Prof. Satya Gopal Chandra  --- 
     <a href="https://www.buie.ac.in/departments/computer-science-engineering/people/faculty/item/1527047603/" target="_blank">
       Contact Sir</a><br>
      Prof. Samir Banerjee   ---
      <a href="https://www.buie.ac.in/departments/computer-science-engineering/people/faculty/item/1527047606/" target="_blank">
        Contact Sir</a><br><br><br><br>

     <a href="index.html">Go back</a>
    </h2>
   </center>
   <!--=============== SCROLL REVEAL ===============-->
<script src="assets/js/scrollreveal.min.js"></script>
        
<!--=============== MAIN JS ===============-->
<script src="assets/js/main.js"></script>
 </body>
</html>