<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--=============== FAVICON ===============-->
  <!--<link rel="shortcut icon" href="assets/images/BUIE_logo.jpg" type="image/x-icon">-->

  <!-- ===============UNICONS================ -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  
  <!--=============== REMIX ICONS ===============-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="assets/css/styles.css"> 
  <title>Internships</title>
 </head>
 
 <body>
  <header class="header" id="header">
		<nav class="nav container">
			<a href="#" class="nav__logo">
				<i class="uil uil-graduation-cap nav__logo-icon"></i> BUIE Guide
			</a>

			<div class="nav__menu" id="nav-menu">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="index.html" class="nav__link active-link">Home</a>
					</li>
					<li class="nav__item">
						<a href="about.html" class="nav__link">About Us</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Careers</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Contact Us</a>
					</li>
				</ul>

				<div class="nav__close" id="nav-close">
					<i class="ri-close-line"></i>
				</div>
			</div>

			<div class="nav__btns">
				<!-- Theme change button -->
				<i class="ri-moon-line change-theme" id="theme-button"></i>

				<div class="nav__toggle" id="nav-toggle">
					<i class="ri-menu-line"></i>
				</div>
			</div>
		</nav>
	</header>
   <center><h1>Welcome to the Internships page!<br>
   Hope we help you find one. </h1><br>

   
           <!-- ========================= Video Bar ======================== -->
<div class="videos lmcontainer">
   <div class="video-section__title">Videos</div>
   <div class="video__content">
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/MG5ZhaFWat0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/GuDd9AevbFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       <!--<div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/MG5ZhaFWat0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>-->
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/RgOxazZp_eE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/y82SsCQpNCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/CF1j_wMEbPA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
       
   </div>
</div>

   <!-- =============================== OFFICIAL PARTNERS ============================== -->

<div class="partners lmcontainer">
   <div class="partners-section__title">Official Partners and other Websites</div>
   <div class="partner__content">
       <div class="partner__content-card">
      <a href="https://internshala.com/" class="partner__content-link">
       
           <div class="partner__content-icon">
               <img  class="partner__content-img" src="https://internshala.com/static/images/common/new_internshala_logo.svg" alt="partner-logo">
               <div class="partner__content-name">
                   Internshala
               </div>
           </div>
       
   </a>
</div>


<div class="partner__content-card">
   <a href="https://www.linkedin.com/" class="partner__content-link">
       
           <div class="partner__content-icon">
               <img  class="partner__content-img" src="assets/images/logo.png" alt="partner-logo">
               <div class="partner__content-name">
                   LinkedIn
               </div>
           </div>
       
   </a>
</div>

<div class="partner__content-card">
   <a href="https://www.linkedin.com/company/lets-intern-career-solutions-pvt-ltd-/about/" class="partner__content-link">
       
           <div class="partner__content-icon">
               <img  class="partner__content-img" src="https://media-exp1.licdn.com/dms/image/C4D0BAQHMjhbi48swCg/company-logo_200_200/0/1519896518997?e=1661990400&v=beta&t=bcGmRFMZGeTRjIh-kmcn6eYrpRm19-O2N5kj0Mx1hWM" alt="partner-logo">
               <div class="partner__content-name">
                   Let's Intern
               </div>
           </div>
       
   </a>
</div>

<div class="partner__content-card">
   <a href="https://www.interntheory.com/" class="partner__content-link">
       
           <div class="partner__content-icon">
               <img  class="partner__content-img" src="https://assets.interntheory.com/creative/logo.png" alt="partner-logo">
               <div class="partner__content-name">
                   Intern Theory
               </div>
           </div>
       
   </a>
</div>
   
   </div>    
   </div>


   <!--<h2>Check out Internshala, the trusted partner of our college for Internships 
   <a href="https://internshala.com/" target="_blank">here.</a> <br><br>-->
   <h3>Explore internship opportunities at  <br>
   <a href="https://www.amazon.jobs/en-gb/teams/internships-for-students" target="_blank"> 
    Amazon </a> <br> <a href="https://www.accenture.com/us-en/careers/local/students" target="_blank"> 
    Accenture </a> <br> <a href="https://www.apple.com/careers/in/students.html" target="_blank"> 
     Apple </a> <br> <a href="https://www.bosch.in/careers/students-and-graduates/internships/" target="_blank"> 
     Bosch </a> <br> <a href="https://www.intel.com/content/www/us/en/jobs/locations/india/students/degree-program-internships.html" target="_blank"> 
     Intel </a> <br> <a href="https://www.tata.com/careers/programs/tata-global-internships" target="_blank"> 
     Tata </a> <br> <a href="https://www.nestle.in/jobs/career-area/internships" target="_blank"> 
      Nestle </a><br>
    You can find similar internships by doing a simple Google search by the company name and the 
    "internship" keyword. For example, if the company name is ABC, the search query would be like
    "ABC internships".<br><br>
    
    Make a strong <a href="https://in.linkedin.com" target="_blank">LinkedIn</a> profile and search
    for internships in the search bar. Go to the "Jobs" section, set filters according to your 
    preferences and apply for the job roles. <br><br>
    You may also visit another useful 
    <a href="https://www.internshipfinder.com/" target="_blank"> 
     resource </a> <br><br><br><br>

     Contact the Training and Placement Cell of our College
     <a href="https://www.buie.ac.in/placement/" target="_blank">here</a><br><br>
    
     <a href="index.html">Go back</a>
    </h3>
   </center>
   <!--=============== SCROLL REVEAL ===============-->
<script src="assets/js/scrollreveal.min.js"></script>
        
<!--=============== MAIN JS ===============-->
<script src="assets/js/main.js"></script>
 </body>
</html>