<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--=============== FAVICON ===============-->
  <!--<link rel="shortcut icon" href="assets/images/BUIE_logo.jpg" type="image/x-icon">-->

  <!-- ===============UNICONS================ -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  
  <!--=============== REMIX ICONS ===============-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="assets/css/styles.css"> 
  <title>Jobs</title>
 </head>
 
 <body>
  <header class="header" id="header">
		<nav class="nav container">
			<a href="#" class="nav__logo">
				<i class="uil uil-graduation-cap nav__logo-icon"></i> BUIE Guide
			</a>

			<div class="nav__menu" id="nav-menu">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="index.html" class="nav__link active-link">Home</a>
					</li>
					<li class="nav__item">
						<a href="about.html" class="nav__link">About Us</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Careers</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Contact Us</a>
					</li>
				</ul>

				<div class="nav__close" id="nav-close">
					<i class="ri-close-line"></i>
				</div>
			</div>

			<div class="nav__btns">
				<!-- Theme change button -->
				<i class="ri-moon-line change-theme" id="theme-button"></i>

				<div class="nav__toggle" id="nav-toggle">
					<i class="ri-menu-line"></i>
				</div>
			</div>
		</nav>
	</header>
   <center><h1>The section that's necessary - getting a job! </h1><br>

              <!-- ========================= Video Bar ======================== -->
<div class="videos lmcontainer">
   <div class="video-section__title">Videos</div>
   <div class="video__content">
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/kzIa-4xl7yU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/_GtxLe2Y82c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/iBOzTJaIoNM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/jQmtdUBFBsU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/lA2ODwH-e0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       
   </div>
</div>
    
   <h2>TCS conducts TCS NQT, TCS Ninja, TCS Digital examinations periodically every year. <br>
    Register yourself in their careers page by clicking 
   <a href="https://www.tcs.com/careers?country=IN&lang=EN" target="_blank">here.</a> <br><br>

   Wipro conducts Elite National Talent Hunt twice or thrice a year. <br>
   Register yourself in their careers page by clicking
   <a href="https://careers.wipro.com/careers-home/" target="_blank"> 
    here. </a> <br><br>

    Infosys conducts InfyTQ as a certification examination. Candidates who score above the cutoff
    get interview mails from the company. Apart from this exam, Infosys also announces hiring
    every year. <br>
   Register yourself in their careers page by clicking
   <a href="https://www.infosys.com/careers.html" target="_blank"> 
    here. </a> <br><br>

    <h2>Similarly, other service-based companies like Accenture, Capgemini, Deloitte also 
    announce hiring periodically every year. Instagram pages and YouTube videos
    are great source of getting updates. You can check out the resources below <br> 
    <a href="https://prepinsta.com/instagram/" target="_blank">Prepinsta</a> <br>
    <a href="https://www.youtube.com/c/TalkwithAbdul" target="_blank">Talk With Abdul</a> <br>
   <a href="https://www.youtube.com/c/SugandhaSharma" target="_blank">Sugandha Sharma</a> <br>  
   <a href="https://www.youtube.com/channel/UCkcMWHJ_ZsxslIGQA6JgW5w/videos" target="_blank">
    Shrenik Jain - Job Updates</a> <br><br>

    For getting into product based companies like Google, Microsoft, Amazon and Facebook etc, 
    coding is an important skill to master. <a href="https://www.geeksforgeeks.org/">GeeksForGeeks</a> 
    and <a href="https://leetcode.com/">LeetCode</a> are great websites to practice
    coding and prepare for such product based companies. <a href="https://www.codechef.com/">CodeChef</a>, 
    <a href="https://codeforces.com/">CodeForces</a>,
    <a href="https://www.hackerearth.com/">hackerearth</a> and 
    <a href="https://www.hackerrank.com/">HackerRank</a> are platforms to practice competitive programming. <br><br>
    
    <a href="https://www.amazon.in/Quantitative-Aptitude-Competitive-Examinations-Aggarwal/dp/9352534026">Aptitude</a> 
    and <a href="https://www.amazon.in/AGGARWAL-REASONING-Competitive-Questions-Reasoning/dp/B07GMCJ613">Reasoning</a> 
    books by RS Agarwal are the best books for preparing
    quantitative aptitude and reasoning sections for online tests for these companies, both 
    service and product-based.<br><br><br><br>
    
    For technical project ideas and mentoring, Contact Prof. Priyaranjan Misra
    <a href="https://www.buie.ac.in/departments/computer-science-engineering/people/faculty/item/1527047606/" target="_blank">here</a> <br><br>
    <a href="index.html">Go back</a>
    </h2>
   </center>
   <!--=============== SCROLL REVEAL ===============-->
<script src="assets/js/scrollreveal.min.js"></script>
        
<!--=============== MAIN JS ===============-->
<script src="assets/js/main.js"></script>
 </body>
</html>