<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--=============== FAVICON ===============-->
  <!--<link rel="shortcut icon" href="assets/images/BUIE_logo.jpg" type="image/x-icon">-->

  <!-- ===============UNICONS================ -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  
  <!--=============== REMIX ICONS ===============-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="assets/css/styles.css"> 
  <title>MBA</title>
 </head>
 <body>
  <header class="header" id="header">
		<nav class="nav container">
			<a href="#" class="nav__logo">
				<i class="uil uil-graduation-cap nav__logo-icon"></i> BUIE Guide
			</a>

			<div class="nav__menu" id="nav-menu">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="index.html" class="nav__link active-link">Home</a>
					</li>
					<li class="nav__item">
						<a href="about.html" class="nav__link">About Us</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Careers</a>
					</li>
					<li class="nav__item">
						<a href="index.html" class="nav__link">Contact Us</a>
					</li>
				</ul>

				<div class="nav__close" id="nav-close">
					<i class="ri-close-line"></i>
				</div>
			</div>

			<div class="nav__btns">
				<!-- Theme change button -->
				<i class="ri-moon-line change-theme" id="theme-button"></i>

				<div class="nav__toggle" id="nav-toggle">
					<i class="ri-menu-line"></i>
				</div>
			</div>
		</nav>
	</header>
   <center><h1>Thinking of getting that business degree? Know how! </h1><br>

              <!-- ========================= Video Bar ======================== -->
<div class="videos lmcontainer">
   <div class="video-section__title">Videos</div>
   <div class="video__content">
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/zxdZwB-krZ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/kucdvETQHWQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       <!--<div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/MG5ZhaFWat0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>-->
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/ciR4GeUkMvk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       <div class="video__each">
           <iframe width="224" height="126" src="https://www.youtube.com/embed/hSHQKnwpotw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div><br>
       
   </div>
</div>

   <h2>The Common Admission Test (CAT) is an entry examination to Indian Institute of Mangement (IIMs)
    across the country for getting a Masters of Business Administration (MBA). Go through the 
    official site 
   <a href="https://iimcat.ac.in/per/g01/pub/756/ASM/WebPortal/1/index.html?756@@1@@1" target="_blank"> 
    here. </a><br><br>
    
    
    The Common Management Admission Test (CMAT) is a National Level Entrance Examination for 
    admission to Management Programme(s) in the country. This Test facilitates AICTE affiliated
     participating Institutions to select suitable graduate candidates for admission to the 
     Management Courses in such Institutions. Go through the 
     official site 
   <a href="https://cmat.nta.nic.in/" target="_blank"> here.</a> <br><br>

   Other MBA entrance exams include MAT, XAT, NMAT, SNAP, ATMA, GMAT. This  
   <a href="https://www.mbauniverse.com/mba-entrance-exams" target="_blank">article</a> has all the details regarding 
   these exams. 
    <br><br><br><br>

    <a href="index.html">Go back</a>
    </h2>
   </center>
   <!--=============== SCROLL REVEAL ===============-->
<script src="assets/js/scrollreveal.min.js"></script>
        
<!--=============== MAIN JS ===============-->
<script src="assets/js/main.js"></script>
 </body>
</html>