{% extends "afterloginsg.html" %}

{% block content %}

<!--==================== PD ====================-->
<div class="contact section container" id="contact">                
    <div class="contact__container grid">
        <div class="contact__box">
            <h2 class="section__title">
            {% if obj %}
            <h3>Your roll no - {{roll}}, your personal details</h3>
            <ul>
            {% for emp in obj %}
              <li>student name = {{emp.name}}</li>
              <li>student department = {{emp.dept}}</li>
              <li>student year of joining = {{emp.yoj}}</li>
              <li>student email = {{emp.email}}</li>
              <li>student phone number = {{emp.phone}}</li>

            {% endfor %}
          </ul>
          {% else %}
            <h3>Not a valid rollno</h3>
          {% endif %}
        </h2>
        </div>
    </div>
</div>

<!--==================== SKILLS ====================-->
<div class="contact section container" id="contact">                
    <div class="contact__container grid">
        <div class="contact__box">
            <h2 class="section__title">
            {% if skillobj %}
            <h3>your skills</h3>
            <ul>
            {% for emp in skillobj %}
              <li>{{emp.skill}}</li>
            {% endfor %}
           </ul>
          {% else %}
            <h3>Not a valid rollno</h3>
          {% endif %}
        </h2>
        </div>
    </div>
</div>

<!--==================== PROJECTS ====================-->
<div class="contact section container" id="contact">                
    <div class="contact__container grid">
        <div class="contact__box">
            <h2 class="section__title">
            {% if projobj %}
            <h3>your skills</h3>
            <ul>
            {% for emp in projobj %}
              <li>{{emp.project}}</li>
            {% endfor %}
           </ul>
          {% else %}
            <h3>Not a valid rollno</h3>
          {% endif %}
        </h2>
        </div>
    </div>
</div>

<!--==================== RESUME ====================-->
<div class="contact section container" id="contact">                
    <div class="contact__container grid">
        <div class="contact__box">
            <h2 class="section__title">
            <h3>CV uploaded by you</h3>
            {% if cvobj %}
            <ul>
            {% for emp in cvobj %}
              Download - <a href="{{emp.pdf.url}}" download> {{emp.pdf}} </a>
            {% endfor %}
          </ul>
          {% else %}
            <h3>Not uploaded yet</h3>
          {% endif %}
        </h2>
        </div>
    </div>
</div>

{% endblock %}
<!--
<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>
</head>
<title>student side</title>
<body>
<center>
{% if obj %}
    <h3>Your roll no - {{roll}}, your personal details</h3>
    <ul>
    {% for emp in obj %}
      <li>student name = {{emp.name}}</li>
      <li>student department = {{emp.dept}}</li>
      <li>student email = {{emp.email}}</li>
      <li>student phone number = {{emp.phone}}</li>

    {% endfor %}
  </ul>
  {% else %}
    <h3>Not a valid rollno</h3>
  {% endif %}
  
  {% if skillobj %}
    <h3>your skills</h3>
    <ul>
    {% for emp in skillobj %}
      <li>{{emp.skill}}</li>
    {% endfor %}
  </ul>
  {% else %}
    <h3>Not a valid rollno</h3>
  {% endif %}
  
  {% if projobj %}
    <h3>your projects</h3>
    <ul>
    {% for emp in projobj %}
      <li>{{emp.project}}</li>
    {% endfor %}
  </ul>
  {% else %}
    <h3>Not a valid rollno</h3>
  {% endif %}
  
  {% if cvobj %}
    <h3>CV uploaded by you</h3>
    <ul>
    {% for emp in cvobj %}
      Download - <a href="{{emp.pdf.url}}" download> {{emp.pdf}} </a>
    {% endfor %}
  </ul>
  {% else %}
    <h3>Not a valid rollno</h3>
  {% endif %}
  
  <center>
</body>
</html>
-->